*{  font-family: monospace;
}
  .header__nav-container {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 10px;
    background-color: #333;
    height: 30px;
    width: 100%;
  }
  
  .header__menu-list {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 1.5rem;
    

  }
  
  .header__menu-item a {
    text-decoration: none;
    color: #ffff;
    font-weight:bold;
  }
  
  .header__search input {
    padding: 5px 10px;
  }
  .header__container{
    background-image: url(https://www.adidas.com.eg/dw/image/v2/BFNL_PRD/on/demandware.static/-/Library-Sites-AdidasSharedLibrary/default/dwcbb52d78/UAE_Local_Activations/em-ae-commercial-hp-mh-d.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }